@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";


* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.ibm-plex-sans-thai-thin {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-weight: 100;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}